<a href="/pages/batman.html">
	<img src="./assets/batman.jpg" alt="Go to Batsy's page" class="col-md-6">
</a>
<a href="/pages/superman.html">
	<img src="./assets/superman.jpg" alt="Go to Supes' page" class="col-md-6">
</a>